<div id="randomize">
  <div class="content container" style="text-align: center;max-width: 900px;">
    <h1>Slot Machine Demo!</h1>
    <input class="btn btn-default" type="submit" value="Submit" onclick={{action "shuffle"}}>
    <div class="row">
      <div class="col-xs-4">
        <div>
          {{slot-reel reelName="reel1"}}
        </div>
      </div>
      <div class="col-xs-4">
        <div>
          {{slot-reel reelName="reel2"}}
        </div>
      </div>
      <div class="col-xs-4">
        <div>
          {{slot-reel reelName="reel3"}}
        </div>
      </div>
    </div>
  </div>
</div>