<div class="{{reelName}} randomizeMachine">
    <div><img src="/images/slot1.png" /></div>
    <div><img src="/images/slot2.png" /></div>
    <div><img src="/images/slot3.png" /></div>
    <div><img src="/images/slot4.png" /></div>
    <div><img src="/images/slot5.png" /></div>
    <div><img src="/images/slot6.png" /></div>
</div>