<div id="randomize">
  <div class="content container" style="text-align: center;max-width: 900px;">
    <h1>Slot Machine Demo!</h1>
    <input class="btn btn-default" type="submit" value="Submit" onclick={{action "shuffle"}}>
    <div class="row">
      <div class="col-xs-4">
        <div>
          <div class="machine1 randomizeMachine">
            <div><img src="/images/slot1.png" /></div>
            <div><img src="/images/slot2.png" /></div>
            <div><img src="/images/slot3.png" /></div>
            <div><img src="/images/slot4.png" /></div>
            <div><img src="/images/slot5.png" /></div>
            <div><img src="/images/slot6.png" /></div>
          </div>
        </div>
      </div>
      
      <div class="col-xs-4">
        <div>
          <div class="machine2 randomizeMachine">
            <div><img src="/images/slot1.png" /></div>
            <div><img src="/images/slot2.png" /></div>
            <div><img src="/images/slot3.png" /></div>
            <div><img src="/images/slot4.png" /></div>
            <div><img src="/images/slot5.png" /></div>
            <div><img src="/images/slot6.png" /></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>