<div id="randomize">
  <div class="content container" style="text-align: center;max-width: 900px;">
    <h1>Slot Machine Demo!</h1>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="col-xs-4">
          <div>
            {{slot-reel reelName="reel1"}}
          </div>
        </div>
        <div class="col-xs-4">
          <div>
            {{slot-reel reelName="reel2"}}
          </div>
        </div>
        <div class="col-xs-4">
          <div>
            {{slot-reel reelName="reel3"}}
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <input class="btn btn-success" type="submit" value="Play" onclick={{action "shuffle"}}>
    </div>
  </div>
</div>